table{
        border-bottom: solid black;
        border-top: solid black;
}

.odd {
        background-color: rgb(216, 214, 214);
        

}
td, th{
        padding: 20px; 
}

.navbar-left > li{
        margin-top:15px;
        margin-right: 25px;
}

.navbar-left>li:hover{
        cursor:pointer;
        color:black
}