table{
        border-bottom: solid black;
        border-top: solid black;
}

.odd {
        background-color: rgb(216, 214, 214);
        

}
td, th{
        padding: 20px; 
}

.navbar-left > li{
        margin-top:15px;
        margin-right: 25px;
}


.container{
       display:flex;
  flex-direction: column;
}

.odd{
        background-color:#cd1313;
      }
      .even{
        background-color:black;
      }
      